*.a
*.o
*.pdf
*~
.deps
.dirstamp
/autom4te.cache
/bin
/config.h
/config.log
/config.status
/config.guess
/config.sub
/stamp-h1
Makefile
aclocal.m4
config.h.in
configure
compile
depcomp
install-sh
missing
Makefile.in
.vscode
.DS_Store
.Tpo
