language:
- cpp

arch:
- arm64
- ppc64le

os:
- linux

compiler:
- g++
- clang

install:
- sudo apt-get install -y ghostscript groff valgrind

script:
- ./autogen.sh
- ./configure
- make
- export PATH=$PWD/bin:$PATH
- git clone https://github.com/frederic-mahe/vsearch-tests.git
- cd vsearch-tests
- bash ./run_all_tests.sh
